@charset "utf-8";

body {
  margin: 0;
  font-family: Arial、Hiragino Sans、Hiragino Kaku Gothic ProN、Meiryo、sans-serif;
}

.content {
  max-width: 1200px;
  padding: 0 5%;
}

/* ヘッダー */
h1 {
  margin: 0;
}

.page-header {
  height: 100vh;
  background-image: url("../images/mainvisual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  margin-bottom: 80px;
}

.page-header__logo {
  position: absolute;
  top: 30px;
  right: 30px;
}










